.Wrapper {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #B3D7F2;
  height: 100vh;
}

.NextBtn {
  position: absolute;
  bottom: 0;
  margin: 10px;
  height: 31px;
  width: 50px;
  font-weight: bold;
}

.NextBtn:hover {
  cursor: pointer;
  background-color: lightgrey;
}