.HistoryItem {
  text-decoration: none;
  background: lightgray;
  border: 0.5px solid black;
  /* border-bottom: none; */
  border-top: none;
  width: 100%;
  margin: 1px;
  padding: 1px;
  font-weight: bold;
}

.HistoryItem:hover {
  background: white;
}