.Result {
  text-decoration: none;
  background-color: white;
  border: 0.5px solid black;
  /* border-bottom: none; */
  border-top: none;
  border-left: none;
  width: 100%;
  margin: 1px;
  padding: 5px;
  font-weight: bold;
}

.Result:hover {
  background-color: lightgray;
}