.Result {
  display: flex;
  text-decoration: none;
  background-color: white;
  /* border: 0.5px solid black; */
  /* border-bottom: none; */
  /* border-top: none; */
  /* border-left: none; */
  width: 100%;
  margin: 1px;
  padding: 5px;
  /* font-weight: bold; */
  transition: 0.2s background-color;
  /* border-radius: 3px; */
  box-shadow: 0 2px 3px #ccc;
}

.Result:hover {
  background-color: #ccc;
}

.Text {
  margin-left: 10px;
}