.Search {
  display: flex;
  margin-bottom: 2px;
  padding-top: 20px;
}

.SearchInput {
  width: 300px;
  /* margin-top: 10px; */
  margin-left: 10px;
  height: 25px;
  /* font-weight: bold; */
  /* border: none; */
  border-radius: 3px;
  border: 1px solid black;
  padding: 0 10px;
}

.Btn {
  /* margin-top: 10px; */
  margin-left: 5px;
  height: 27px;
  width: 50px;
  /* font-weight: bold; */
  /* border: none; */
  border-radius: 3px;
  border: 1px solid black;
}

.Btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.Control {
  margin-left: 20px;
}